section.seccion-respuestas{
    margin: 1vw 5px;
}
label.titulo-pregunta{
    text-align: start;
}

article.pregunta{
    border: 1px brown solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}