---
import '../styles/mainPage.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>

        <header> 
            <h1>Prueba de conocimientos en Medicina</h1>
        </header>

        <section class="instructions">
            Bienvenido a nuestro formulario de autoevaluación de conocimientos sobre medicina. 
            Este cuestionario ha sido diseñado para ayudarte a evaluar tus conocimientos y 
            comprensión de conceptos médicos. Sigue estas instrucciones para completar el 
            formulario de manera efectiva y obtener una retroalimentación. <br> <br>

            Cuando finalices de contestar el cuestionario manda tus respuestas para obtener feedback de tus respuestas :) Exito!!

        </section>

        <section class="preguntas">
            <slot />
        </section>

        <footer >Creditos: Yael Quintanilla Ramírez</footer>
		
	</body>
</html>