---
import '../styles/mainPage.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>

        <header> 
            <h1>Tema: Medicina</h1>
        </header>

        <section class="instructions">
            Contesta el siguiente cuestionario para medir tus conocimientos en Medicina. <br>

            Podras visualizar en que pregunta te encuentras con la barra de progreso y puedes pasar a la siguiente pregunta con el botón de siguiente.

        </section>

        <section class="preguntas">
            <slot />
        </section>

        <section class="buttons">
            <span>
                <button>Siguiente</button>
                <button>Anterior</button>
            </span>
            <button>Enviar</button>
            

        </section>
		
	</body>
</html>